@model IEnumerable<Contra.Models.Article>

@{
    ViewData["Title"] = "Articles";
    Layout = "_AdminLayout";
}

<div class="section-title" id="compact-compatible">
    <h2>@ViewData["Message"]</h2>
    <div class="filters">
        <div class="filter-group">
            <h5 class="hideable">View:</h5>
            <button id="comfortableButton" class="btn btn-info" onclick="showComfortable()">Comfortable</button>
            <button id="compactButton" class="btn btn-outline-info" onclick="showCompact()">Compact</button>
        </div>
        <div class="filter-group">
            <h5 class="hideable">Sort:</h5>
            <a class="btn @(ViewData["SortBy"].Equals("Author")? "btn-info" : "btn-outline-info")" href="~/articles/@ViewData["Filter"]/author">Author</a>
            <a class="btn @(ViewData["SortBy"].Equals("New")? "btn-info" : "btn-outline-info")" href="~/articles/@ViewData["Filter"]/new">New</a>
            <a class="btn @(ViewData["SortBy"].Equals("Top")? "btn-info" : "btn-outline-info")" href="~/articles/@ViewData["Filter"]/top">Top</a>
            <a class="btn @(ViewData["SortBy"].Equals("Trending")? "btn-info" : "btn-outline-info")" href="~/articles/@ViewData["Filter"]/trending">Trending</a>
        </div>
        <div class="filter-group search">
            <h5 class="hideable">Search:</h5>
            <form asp-action="Articles">
                <input name="filter" type="text" placeholder="Search articles" />
                <button class="btn btn-info" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br />
@foreach (var item in Model)
{
    <section>
        <div class="card card-big card-search">
            <span class="image-container"><img src="@item.ThumbnailURL" /></span>
            <div>
                <h5>@item.Title (@item.AuthorName - @item.Date)</h5>
                <p class="compact-hidden">Status: @Html.DisplayFor(modelItem => item.Approved) (@item.SummaryShort)</p>
                <p>@Html.DisplayFor(modelItem => item.SummaryLong)</p>
                <div class="actions">
                    <a asp-controller="Articles" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/article/delete/@item.Id')">Remove</a>
                    @if (item.Approved == ApprovalStatus.Approved)
                    {<a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/article/delist/@item.Id')">Delist</a> }
                    else
                    { <a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/article/approve/@item.Id')">Approve</a>}
                </div>
            </div>
        </div>
    </section>
}