@model Dictionary<OpenTalonUser, List<string>>

@using Microsoft.AspNetCore.Identity
@using Contra.Areas.Identity.Data
@inject RoleManager<IdentityRole> RoleManager

@{
    ViewData["Title"] = "Users";
    Layout = "_AdminLayout";
}

<div class="section-title" id="compact-compatible" >
    <h2>@ViewData["Message"]</h2>
    <div class="filters">
        <div class="filter-group">
            <h5 class="hideable">View:</h5>
            <button id="comfortableButton" class="btn btn-info" onclick="showComfortable()">Comfortable</button>
            <button id="compactButton" class="btn btn-outline-info" onclick="showCompact()">Compact</button>
        </div>
        <div class="filter-group">
            <h5 class="hideable">Sort:</h5>
            <a class="btn @(ViewData["SortBy"].Equals("Activity")? "btn-info" : "btn-outline-info")" href="~/users/@ViewData["Filter"]/activity">Activity</a>
            <a class="btn @(ViewData["SortBy"].Equals("Date")? "btn-info" : "btn-outline-info")" href="~/users/@ViewData["Filter"]/date">Date</a>
            <a class="btn @(ViewData["SortBy"].Equals("Email")? "btn-info" : "btn-outline-info")" href="~/users/@ViewData["Filter"]/email">Email</a>
            <a class="btn @(ViewData["SortBy"].Equals("Name")? "btn-info" : "btn-outline-info")" href="~/users/@ViewData["Filter"]/name">Name</a>
        </div>
        <div class="filter-group search">
            <h5 class="hideable">Search:</h5>
            <form asp-action="Users">
                <input name="filter" type="text" placeholder="Search users" />
                <button class="btn btn-info" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br />
@foreach (OpenTalonUser user in Model.Keys)
{
    <section>
        <div class="card card-big card-compact card-user">
            <div class="user-info">
                <h5>@user.Name - @user.Email</h5>
                <p>Id: @user.Id</p>
                @foreach (IdentityRole role in RoleManager.Roles)
                {
                    <label for="@role.Name-@user.Id" class="toggle compact-hidden">@role.Name
                    <input type="checkbox" id="@role.Name-@user.Id" @(Model[user].Contains(role.Name)? "checked" : null) onclick="updateRoles(this, '@user.Id', '@role.Name')">
                    <span class="checkmark"></span></label>
                }
            </div>
            <div class="user-controls compact-hidden">
                <a class="nav-link" href="~/articles/@user.Id">📃 Articles</a>
                <a class="nav-link" href="~/comments/@user.Id">💬 Comments</a>
                <a class="nav-link" href="~/tickets/@user.Id">❔ Tickets</a>
            </div>
        </div>
    </section>
}