@model EarthsTimeline.Models.Article

@{
    ViewData["Title"] = "Delete";
}


<div class="content">
    <div class="section-title">
        <h2>Delete (Admin) - @Html.DisplayFor(model => model.Title)</h2>
        <h4>Are you sure you want to delete?</h4>
    </div>
    <section>
        <div class="card article">
            <span class="image-container">
                <img src="@Model.ThumbnailURL" />
            </span>
            <div>
                <h3>@Model.AuthorName (@Model.AuthorId) - @Model.Date</h3>
                <p>Thumbnail URL - @Model.ThumbnailURL</p>
                <form asp-action="Delete" class="m-0">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Details" asp-route-id="@Model.Id">Cancel</a> |
                    <a asp-action="Index">All Articles</a>
                </form>
                <br />
                <p>@Html.Raw(Model.Content)</p>
            </div>
        </div>
    </section>
</div>