@model EarthsTimeline.Models.Article

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<div class="content">
    <div class="section-title">
        <h2>Article (Admin) - @Html.DisplayFor(model => model.Title)</h2>
    </div>
    <section>
        <div class="card article">
            <span class="image-container">
                <img src="@Model.ThumbnailURL" />
            </span>
            <div>
                <h3>@Model.AuthorName (@Model.AuthorId) - @Model.Date</h3>
                <p>Thumbnail URL - @Model.ThumbnailURL</p>
                <div class="actions">
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-action="Index">All Articles</a> |
                    <a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/article/delete/@Model.Id')">Remove</a> -
                    @if (Model.Approved)
                    {<a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/article/delist/@Model.Id')">Delist</a> }
                    else
                    { <a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/article/approve/@Model.Id')">Approve</a> }
                </div>
                <br />
                <p>@Html.Raw(Model.Content)</p>
            </div>
        </div>
    </section>
    
    <div class="section-title">
        <h2>Comments</h2>
        <h4>@ViewData["PendingComments"] Pending</h4>
    </div>
    <section>
        <div class="card card-search">
            <div>
                <form asp-controller="Home" asp-action="Comment">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="PostId" value="@Model.Id" />
                    <div class="form-group">
                        <section>
                            <div>
                                <label class="control-label">MVLA Email ID (1000xxxxx)</label>
                                <input asp-for="AuthorId" class="form-control" autocomplete="off" value="" />
                                <span asp-validation-for="AuthorId" class="text-danger"></span>
                            </div>
                            <div>
                                <label class="control-label">Name</label>
                                <input asp-for="AuthorName" class="form-control" autocomplete="off" value="" />
                                <span asp-validation-for="AuthorName" class="text-danger"></span>
                            </div>
                        </section>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <input asp-for="Content" class="form-control" autocomplete="off" value="" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit Comment" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </section>
    @if (((List<Comment>)ViewData["Comments"]).Count != 0)
    {
    <section>
        <div class="card">
            @foreach (Comment comment in (List<Comment>)ViewData["Comments"])
                {
                <section>
                <div class="card card-search comment">
                    <div>
                        <h3>@comment.AuthorName - @comment.Date.ToLocalTime()</h3>
                        <p>@comment.Content</p>
                    </div>
                </div>
                </section>
                <hr />
                }
        </div>
    </section>
    }
</div>