@model IEnumerable<EarthsTimeline.Models.Article>

@{
    ViewData["Title"] = "Admin";
}

<script src="~/js/admin.js"></script>

<div class="content">
    <div class="section-title">
        <h2>Aministrator Panel</h2>
        <a href="~/logout">Log Out</a>
    </div>
    <section>
        <div class="card card-big">
            <div>
                <h2>@ViewData["ArticlesLeft"] Articles</h2>
                <p>There are @ViewData["ArticlesLeft"] articles pending approval.</p>
                <h2>@ViewData["CommentsLeft"] Comments</h2>
                <p>There are @ViewData["CommentsLeft"] comments pending approval.</p>
            </div>
        </div>
        <div class="card card-encapsulate">
            <span class="image-container">
                <img src="../img/img02.png" />
            </span>
            <div>
                <h2>Site Status</h2>
                <p>@ViewData["Articles"] total articles.</p>
                <p>@ViewData["Comments"] total comments.</p>
            </div>
        </div>
    </section>
    <div class="section-title">
        <h2>Article Approvals</h2>
        <a href="~/articles">View All Articles</a>
    </div>
    @foreach (Article article in (List<Article>)ViewData["ArticlesList"])
    {
        <section>
            <div class="card card-big card-search">
                <div>
                    <h2>@article.Title</h2>
                    <p>@article.AuthorName - @article.Date</p>
                    <br />
                    <p>@article.SummaryLong</p>
                    <div class="actions">
                        <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">Read More</a> -
                        <a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/article/delete/@article.Id')">Reject Article</a> -
                        <a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/article/approve/@article.Id')">Approve Article</a>
                    </div>
                </div>
        </section>
    }
    <div class="section-title">
        <h2>Comment Approvals</h2>
        <a href="~/comments">View All Comments</a>
    </div>
    @foreach (Comment comment in (List<Comment>)ViewData["CommentsList"])
    {
        <section>
            <div class="card card-big card-search">
                <div>
                    <h5>@comment.AuthorName - @comment.Date (Attached to Post @comment.PostId)</h5>
                    <p>@comment.Content</p>
                    <div class="actions">
                        <a asp-controller="Home" asp-action="Article" asp-route-id="@comment.PostId">Read Article</a> -
                        <a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/comment/delete/@comment.Id')">Reject Comment</a> -
                        <a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/comment/approve/@comment.Id')">Approve Comment</a>
                    </div>
                </div>
            </div>
        </section>
    }
</div>