@model EarthsTimeline.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<div class="content">
    <div class="section-title">
        <h2>Comment (Admin) - @Model.AuthorName (@Model.AuthorId) </h2>
    </div>
    @if (Model.Approved)
    {
        <section>
            <div class="card card-search">
                <div>
                    <h3>@Model.Approved - @Model.Date</h3>
                    <br />
                    <p>@Model.Content</p>
                </div>
            </div>
        </section>
    }
    else
    {
        <section>
            <div class="card card-search">
                <h2>This Article is Not Approved Yet</h2>
                <p>This article has not been approved by our moderation team, and as such, cannot be displayed yet.</p>
                <br />
                <a href="~/">Meanwhile, check out some of our other articles.</a>
            </div>
        </section>
    }
</div>
<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
