@model IEnumerable<EarthsTimeline.Models.Comment>

@{
    ViewData["Title"] = "Comments";
}

<script src="~/js/admin.js"></script>

<div class="content">
    <div class="section-title">
        <h2>All Comments (Admin)</h2>
    </div>
    <br />
    @foreach (var item in Model)
    {
        <section>
            <div class="card card-big card-search">
                <div>
                    <h5>@item.AuthorName (@item.AuthorId) - @item.Date</h5>
                    <p>Approved: @Html.DisplayFor(modelItem => item.Approved) (Attached to Post @item.PostId)</p>
                    <p>@Html.DisplayFor(modelItem => item.Content)</p>
                    <div class="actions">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Home" asp-action="Article" asp-route-id="@item.PostId">Read Article</a> -
                        <a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/comment/delete/@item.Id')">Remove</a> -
                        @if (item.Approved)
                        {<a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/comment/delist/@item.Id')">Delist</a> }
                        else
                        { <a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/comment/approve/@item.Id')">Approve</a>}
                    </div>
                </div>
            </div>
        </section>
    }
</div>