@using Microsoft.AspNetCore.Identity
@using OpenTalon.Areas.Identity.Data
@inject UserManager<OpenTalonUser> UserManager

@{
    Layout = "/Views/Shared/_CompactLayout.cshtml";
    OpenTalonUser user = UserManager.GetUserAsync(User).Result;
}

<section class="profile-dashboard">
    <div class="profile-controls">
        <img class="profile-picture" src="@(user.ProfilePictureURL + "&s=512")" />
        <hr />
        <div>
            <h2>@user.Name</h2>
            <h5>Joined: @user.DateJoined.ToShortDateString()</h5>
            <br />
            <partial name="_ManageNav" />
        </div>
    </div>
    <div class="profile-page flex-big">
        @RenderBody()
    </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
