@model OpenTalon.Models.Comment

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<div class="content">
    <div class="section-title">
        <h2>Comment @Model.Id Details</h2>
    </div>
    <section>
        <div class="card card-search">
            <div>
                <h3>@Model.AuthorName (@Model.AuthorId) - @Model.Date</h3>
                <p>Approved: @Html.DisplayFor(model => model.Approved) (Attached to Post @Model.PostId)</p>
                <br />
                <p>@Model.Content</p>
            </div>
            <div class="actions">
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a> |
                <a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/article/delete/@Model.Id')">Remove</a> -
                @if (@Model.Approved == ApprovalStatus.Approved)
                {<a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/article/delist/@Model.Id')">Delist</a> }
                else
                { <a class="text-danger clickable" onclick="confirmAction(this, 'api/v1/article/approve/@Model.Id')">Approve</a>}
            </div>
        </div>
    </section>
</div>
