@model Dictionary<OpenTalonUser, List<string>>

@using Microsoft.AspNetCore.Identity
@using OpenTalon.Areas.Identity.Data
@inject RoleManager<IdentityRole> RoleManager

@{
    ViewData["Title"] = "Users";
    Layout = "_AdminLayout";
}

<div class="content">
    <div class="section-title">
        <h2>@ViewData["Message"]</h2>
    </div>
    <br />
    @foreach (OpenTalonUser user in Model.Keys)
    {
        <section>
            <div class="card card-big card-compact card-user">
                <div class="user-info">
                    <h5>@user.Name - @user.Email</h5>
                    <p>Id: @user.Id</p>
                    @foreach (IdentityRole role in RoleManager.Roles)
                    {
                        <label for="@role.Name-@user.Id" class="role">@role.Name
                        <input type="checkbox" id="@role.Name-@user.Id" @(Model[user].Contains(role.Name)? "checked" : null) onclick="updateRoles(this, '@user.Id', '@role.Name')">
                        <span class="checkmark"></span></label>
                    }
                </div>
                <div class="user-controls">
                    <a class="nav-link" href="~/articles">📃 Articles</a>
                    <a class="nav-link" href="~/comments">💬 Comments</a>
                    <a class="nav-link" href="~/comments">❔ Tickets</a>
                </div>
            </div>
        </section>
    }
</div>