@model EarthsTimeline.Models.Article

@{
    ViewData["Title"] = "Article";
    string url = System.Net.WebUtility.UrlEncode("https://" + Context.Request.Host + Context.Request.Path);
}

    <div class="content">
        <div class="section-title">
            <h2>Article - @Html.DisplayFor(model => model.Title)</h2>
        </div>
        @if (Model.Approved)
    {
        <section>
            <div class="card article">
                <span class="image-container">
                    <img src="@Model.ThumbnailURL" />
                </span>
                <div>
                    <h3>
                        @Model.AuthorName - @Model.Date.ToShortDateString() -
                        <span class="social-links">
                            <a href="https://twitter.com/intent/tweet?text=@System.Net.WebUtility.UrlEncode(Model.Title)+@(url)"><img src="~/img/twitter.svg" alt="Share on Twitter" /></a>
                            <a href="https://facebook.com/sharer/sharer.php?u=@(url)"><img src="~/img/facebook.svg" alt="Share on Facebook" /></a>
                            <a href="#discuss"><img src="~/img/discuss.svg" alt="Discuss Here" /></a>
                        </span>
                    </h3>
                    <h5>Views: @Model.Views</h5>
                    <br />
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </section>

        <div class="section-title">
            <h2>Comments</h2>
            <h4>@ViewData["PendingComments"] Pending</h4>
            <a name="discuss"></a>
        </div>
        <section>
            <div class="card">
                <div>
                    <form asp-action="Comment">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" name="PostId" value="@Model.Id" />
                        <div class="form-group">
                            <section>
                                <div>
                                    <label class="control-label">MVLA Email ID (1000xxxxx)</label>
                                    <input asp-for="AuthorId" class="form-control" autocomplete="off" value="" />
                                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                                </div>
                                <div>
                                    <label class="control-label">Name</label>
                                    <input asp-for="AuthorName" class="form-control" autocomplete="off" value="" />
                                    <span asp-validation-for="AuthorName" class="text-danger"></span>
                                </div>
                            </section>
                        </div>
                        <div class="form-group">
                            <label asp-for="Content" class="control-label"></label>
                            <input asp-for="Content" class="form-control" autocomplete="off" value="" />
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit Comment" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </section>
        @if (((List<Comment>)ViewData["Comments"]).Count != 0) {
        <section>
            <div class="card">
                @foreach (Comment comment in (List<Comment>)ViewData["Comments"])
                 {
                <section>
                    <div class="card card-search comment">
                        <div>
                            <h3>@comment.AuthorName - @comment.Date.ToLocalTime()</h3>
                            <p>@comment.Content</p>
                        </div>
                    </div>
                </section>
                <hr />
                 }
            </div>
        </section>
        }
    }
    else
    {
        <section>
            <div class="card card-search">
                <h2>This Article is Not Approved Yet</h2>
                <p>This article has not been approved by our moderation team, and as such, cannot be displayed yet.</p>
                <br />
                <a href="~/">Meanwhile, check out some of our other articles.</a>
            </div>
        </section>
    }
    </div>