@model EarthsTimeline.Models.Article

@{
    ViewData["Title"] = "Article";
}

<div class="content">
    <div class="section-title">
        <h2>Article - @Html.DisplayFor(model => model.Title)</h2>
    </div>
    @if (Model.Approved)
    {
        <section>
            <div class="card article">
                <span class="image-container">
                    <img src="@Model.LargeThumbnailURL" />
                </span>
                <div>
                    <h3>@Model.AuthorName - @Model.Date.ToShortDateString()</h3>
                    <br />
                    <p>@Model.Content</p>
                </div>
            </div>
        </section>

        <div class="section-title">
            <h2>Comments</h2>
        </div>
        <section>
            <div class="card card-search">
                <div>
                    <p>Comment Input Here</p>
                </div>
            </div>
        </section>
        foreach (Comment comment in (List<Comment>)ViewData["Comments"])
        {
            <section>
                <div class="card">
                    <div>
                        <h3>@comment.AuthorName - @comment.Date</h3>
                        <p>@comment.Content</p>
                    </div>
                </div>
            </section>
        }
    }
    else
    {
        <section>
            <div class="card">
                <h2>This Article is Not Approved Yet</h2>
                <p>This article has not been approved by our moderation team, and as such, cannot be displayed yet.</p>
                <br />
                <a href="~/">Meanwhile, check out some of our other articles.</a>
            </div>
        </section>
    }
</div>