@model IEnumerable<EarthsTimeline.Models.Article>

@{
    ViewData["Title"] = "Search";
}

<div class="content container">
    <div class="section-title">
        <h2>Search</h2>
    </div>
@foreach (var item in Model) {
    <section>
        <div class="card card-big card-search">
            <img src="@Html.DisplayNameFor(model => model.SmallThumbnailURL)" />
            <div>
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                <p>@Html.DisplayFor(modelItem => item.AuthorName) - @Html.DisplayFor(modelItem => item.Date)</p>
                <br />
                <p>@Html.DisplayFor(modelItem => item.SummaryLong)</p>
                <a asp-action="Details" asp-route-id="@item.Id">Read More</a>
            </div>
        </div>
    </section>
}
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LargeThumbnailURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryShort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LargeThumbnailURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SummaryShort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
