@model Contra.Models.Article

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.SummaryLong;
    string url = System.Net.WebUtility.UrlEncode("https://" + Context.Request.Host + Context.Request.Path);
}

@if (Model.Approved == ApprovalStatus.Approved || User.IsInRole("Administrator"))
{
    <br />
    <partial name="_ArticlePartial" model="Model" />

    <div class="section-title">
        <h2>Comments</h2>
        <p class="text-secondary">@ViewData["PendingComments"] Pending</p>
        <a name="discuss"></a>
    </div>
    <section>
        <partial name="_CommentPartial" />
    </section>
    @if (((List<Comment>)ViewData["Comments"]).Count != 0)
    {
        <section>
            <div class="card card-compact">
                @foreach (Comment comment in (List<Comment>)ViewData["Comments"])
                {
                    <div class="card card-compact comment">
                        <div>
                            <a name="@comment.Id"></a>
                            <h5>@comment.AuthorName - @comment.Date.ToShortDateString()</h5>
                            <p>@comment.Content</p>
                        </div>
                    </div>
                }
            </div>
        </section>
    }
}
else
{
    <div class="section-title">
        <h2>Access Denied</h2>
    </div>
    <section>
        <div class="card card-search">
            <div>
                <h2>This Article is Not Approved Yet</h2>
                <p>This article has not been approved by our moderation team, and as such, cannot be displayed yet.</p>
                <a class="btn btn-outline-info" href="~/">Return to Homepage</a>
                <a class="btn btn-outline-info" href="~/submit">Submit an Article</a>
            </div>
        </div>
    </section>
}

<div class="neoload" data-amount="6" data-query="new" data-type="block">
    <div class="section-title">
        <h2>New Articles</h2>
    </div>
</div>