@model IEnumerable<Article>

@{
    ViewData["Title"] = "Home";
}

<section id="main-wrapper">
    <div id="main">
        <div class="section-title">
            <h2>Cover Story</h2>
        </div>
        <section>
            <a class="card card-cover story" href="~/article/@Model.ElementAt(0).Id">
                <partial name="_CardContentPartial" model="@Model.ElementAt(0)" />
            </a>
        </section>
        <div class="section-title">
            <h2>Trending Now</h2>
        </div>
        <section>
            <a class="card card-big story" href="~/article/@Model.ElementAt(1).Id">
                <partial name="_CardContentPartial" model="@Model.ElementAt(1)" />
            </a>
            <a class="card card-encapsulate story" href="~/article/@Model.ElementAt(2).Id">
                <partial name="_CardContentPartial" model="@Model.ElementAt(2)" />
            </a>
        </section>
        <section>
            <a class="card card-encapsulate story" href="~/article/@Model.ElementAt(3).Id">
                <partial name="_CardContentPartial" model="@Model.ElementAt(3)" />
            </a>
            <a class="card card-big story" href="~/article/@Model.ElementAt(4).Id">
                <partial name="_CardContentPartial" model="@Model.ElementAt(4)" />
            </a>
        </section>
        <div class="neoload" data-amount="2" data-query="editorial" data-type="block">
            <div class="section-title">
                <h2>Editorials</h2>
            </div>
        </div>
    </div>

    <div id="extras">
        <div class="section-title">
            <h2>Newsbeat</h2>
        </div>
        <section class="flex-fill">
            <div id="newsbeat" class="card">
                <section class="neoload" data-amount="10" data-query="newsbeat" data-type="mini"></section>
            </div>
        </section>
    </div>
</section>

<div class="neoload" data-amount="6" data-query="new" data-type="block">
    <div class="section-title">
        <h2>New Articles</h2>
    </div>
</div>