@model IEnumerable<Article>

@{
    ViewData["Title"] = "Home";
}

<div class="bg-contra banner-notice">
    <p>Welcome to the beta! <a href="/article/1">For information regarding updates and issues, check here.</a></p>
</div>
<section class="main-wrapper">
    <div class="main">
        <div class="section-title">
            <h2>Cover Story</h2>
        </div>
        <section>
            <a class="card card-cover story" href="~/article/@Model.ElementAt(0).Id">
                <partial name="_CardContentPartial" model="@Model.ElementAt(0)" />
            </a>
        </section>
        <div class="section-title">
            <h2>Trending Now</h2>
        </div>
        <section>
            <a class="card card-big story" href="~/article/@Model.ElementAt(1).Id">
                <partial name="_CardContentPartial" model="@Model.ElementAt(1)" />
            </a>
            <a class="card card-encapsulate story" href="~/article/@Model.ElementAt(2).Id">
                <partial name="_CardContentPartial" model="@Model.ElementAt(2)" />
            </a>
        </section>
        <section>
            <a class="card card-encapsulate story" href="~/article/@Model.ElementAt(3).Id">
                <partial name="_CardContentPartial" model="@Model.ElementAt(3)" />
            </a>
            <a class="card card-big story" href="~/article/@Model.ElementAt(4).Id">
                <partial name="_CardContentPartial" model="@Model.ElementAt(4)" />
            </a>
        </section>
        <div class="neoload" data-amount="2" data-query="editorial" data-type="block">
            <div class="section-title">
                <h2>Editorials</h2>
            </div>
        </div>
    </div>

    <div class="extras">
        <div class="section-title">
            <h2>Insights</h2>
        </div>
        <section class="flex-fill">
            <div class="insight card">
                <div id="loading-0" class="lds-dual-ring"></div>
                <section class="neoload" data-amount="9" data-query="insight" data-type="mini" data-loading="0"></section>
            </div>
        </section>
    </div>
</section>

<section class="main-wrapper">
    <div class="extras">
        <div class="section-title">
            <h2>Events</h2>
        </div>
        <section class="flex-fill">
            <div class="insight card">
                <div id="loading-1" class="lds-dual-ring"></div>
                <section class="neoload" data-amount="6" data-query="event" data-type="mini" data-loading="1"></section>
            </div>
        </section>
    </div>

    <div class="main">
        <div class="neoload" data-amount="6" data-query="new" data-type="block">
            <div class="section-title">
                <h2>New Articles</h2>
            </div>
        </div>
    </div>
</section>