@model IEnumerable<Article>

@{
    ViewData["Title"] = "Home";
}

<section id="main-wrapper">
    <div id="main">
        <div class="section-title">
            <h2>Cover Story</h2>
        </div>
        <section>
            <div class="card card-cover story" onclick="redirect(@Model.ElementAt(0).Id)">
                <partial name="_CardContentPartial" model="@Model.ElementAt(0)" />
            </div>
        </section>
        <div class="section-title">
            <h2>Trending Now</h2>
        </div>
        <section>
            <div class="card card-big story" onclick="redirect(@Model.ElementAt(1).Id)">
                <partial name="_CardContentPartial" model="@Model.ElementAt(1)" />
            </div>
            <div class="card card-encapsulate story" onclick="redirect(@Model.ElementAt(2).Id)">
                <partial name="_CardContentPartial" model="@Model.ElementAt(2)" />
            </div>
        </section>
        <section>
            <div class="card card-encapsulate story" onclick="redirect(@Model.ElementAt(3).Id)">
                <partial name="_CardContentPartial" model="@Model.ElementAt(3)" />
            </div>
            <div class="card card-big story" onclick="redirect(@Model.ElementAt(4).Id)">
                <partial name="_CardContentPartial" model="@Model.ElementAt(4)" />
            </div>
        </section>
        <div class="section-title">
            <h2>Editorials</h2>
        </div>
        <div class="neoload" data-amount="2" data-query="editorial" data-type="block"></div>
    </div>

    <div id="extras">
        <div class="section-title">
            <h2>Newsbeat</h2>
        </div>
        <section class="flex-fill">
            <div id="newsbeat" class="card">
                <section class="neoload" data-amount="10" data-query="newsbeat" data-type="mini"></section>
            </div>
        </section>
    </div>
</section>

<div class="section-title">
    <h2>New Articles</h2>
</div>
<div class="neoload" data-amount="6" data-query="new" data-type="block"></div>