<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Contra</title>
    <meta name="description" content="@ViewData["Description"] | Contra encourages community discussion contribution and debate. Join Contra today." />
    <meta property="og:title" content="@ViewData["Title"] - Contra" />
    <meta property="og:description" content="@ViewData["Description"] | Contra encourages community discussion contribution and debate. Join Contra today." />
    <meta property="og:url" content="https://contra.live/" />
    <meta property="og:image" content="https://contra.live/img/contra_square.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/shoestring/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav id="nav">
            <div class="container">
                <a class="navbar-brand" href="~/" name="Contra Home" ><img src="~/img/contra.png" alt="Contra" /></a>
                <button id="menu-button" onclick="showMenu()" type="button">Menu</button>
                <div id="links">
                    <div class="links nav-search search">
                        <form asp-controller="Home" asp-action="Search">
                            <input name="filter" type="text" placeholder="Search articles" />
                            <button class="btn c-btn-primary animated" type="submit" name="Search"><img src="~/img/search.png" alt="Search" /></button>
                        </form>
                    </div>
                    <div class="links float-right">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
        <div class="header">
            <div id="border-gradient"></div>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <div class="notifications">
        <partial name="_CookieConsentPartial" />
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 Contra -
            <a href="~/about">About</a> -
            <a href="~/feedback">Feedback</a> -
            <a href="~/privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
