<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Contra</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:url" content="https://contra.live/" />
    <meta property="og:image" content="https://contra.live/img/contra_square.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/shoestring/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2020 Contra
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
